.headerSliderBtn {
    max-width: 150px;
    background-color: #F9FC62;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-weight: 600;
}