.content {
    width: 100%;
    // height: 100vh;

    .low {
        display: flex;
        align-items: center;
        background-color: #fff;
        margin: 16px 0 22px 0;

        .logo {
            margin-right: 40px;
        }

        &-catalog {
            width: 155px;
            height: 48px;
            background-color: #F9FC62;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
            cursor: pointer;
            transition: all 0.2s ease;

            &:hover {
                background-color: #F8F041;
            }

            .burger {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 11px;
                margin-right: 12px;

                &-item {
                    width: 15px;
                    height: 2px;
                    background-color: #000;
                    border-radius: 12px;
                }
            }

            h1 {
                font-weight: 600;
                font-size: 18px;
                line-height: 135%;
                letter-spacing: 0.015em;
                color: #0B1124;
            }
        }

        .form-search {
            display: flex;
            height: 48px;
            width: 550px;
            border: 2px solid #A4A2AF;
            border-radius: 12px;
            margin: 0 34px 0 30px;
            position: relative;
            transition: all 0.2s ease;

            &:hover {
                box-shadow: 0 0 4px #000;
            }

            input {
                background-color: transparent;
                margin: 0 0 0 16px;
                width: 85%;
                font-size: 16px;
            }

            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: -1px;
                height: 45px;
                width: 72px;
                border-radius: 11px;
                background-color: #F9FC62;
                user-select: none;
                cursor: pointer;
                transition: all 0.2s ease;

                &:hover {
                    background-color: #F8F041;
                }
            }
        }

        &-text {
            display: flex;
            margin-right: 24px;
            text-decoration: none;

            &:last-child {
                margin-right: 0;
            }

            .basketIcon {
                display: flex;

                img::after {

                    span {
                        background: rgba(235, 42, 100, 1);
                        color: #fff;
                        min-width: 17px;
                        min-height: 13px;
                    }
                }
            }

            h1 {
                margin-left: 8px;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #0B1124;
            }
        }
    }
}

.container {
    width: 1212px;
    height: 100%;
    margin: 0 auto;
}

header {
    background-color: #0B1124;
    color: #fff;
    width: 100%;
    height: 40px;
    padding: 8px 0 10px 0;
    font-size: 16px;

    .d-flex {
        display: flex;
        flex-direction: column;

        .top {
            display: flex;
            justify-content: space-between;
            position: relative;

            .modal-country {
                position: absolute;
                top: 30px;
                left: 60px;
                background-color: #fff;
                padding: 10px;
                z-index: 2;
                transition: all 0.2s ease;
                visibility: hidden;
                opacity: 0;

                .figure {
                    background-color: #fff;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: -4px;
                    left: 30px;
                    z-index: -12;
                    transform: rotate(45deg);
                }

                .countries {
                    color: #000;

                    p {
                        user-select: none;
                        cursor: pointer;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                    }

                    &-active {
                        text-decoration-line: underline;
                        color: #2E3C85;
                    }
                }
            }

            .modal-lang {
                position: absolute;
                top: 30px;
                left: -20px;
                background-color: #fff;
                padding: 10px;
                z-index: 2;
                transition: all 0.2s ease;
                visibility: hidden;
                opacity: 0;

                .figure {
                    background-color: #fff;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: -4px;
                    left: 19px;
                    z-index: -12;
                    transform: rotate(45deg);
                }

                .languages {
                    color: #000;

                    p {
                        user-select: none;
                        cursor: pointer;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                    }

                    &-active {
                        text-decoration-line: underline;
                        color: #2E3C85;
                    }
                }
            }

            nav {
                display: flex;
                align-items: center;

                li {
                    user-select: none;
                    cursor: pointer;
                    list-style-type: none;
                }
            }

            .nav {
                li {
                    display: flex;
                    align-items: center;
                    margin-right: 40px;

                    img {
                        margin-right: 8px;
                    }
                }
            }

            .nav-number {
                li {
                    margin-left: 40px;
                }
            }
        }
    }
}

footer {
    background-color: #0B1124;
    color: #fff;
    width: 100%;

    .footer {
        display: flex;
        flex-direction: column;

        .logo-footer {
            width: 83px;
            margin: 32px 0;
        }

        .line {
            width: 100%;
            height: 1px;
            background-color: #fff;
        }

        &-nav {
            margin: 32px 0;
            display: flex;
            justify-content: space-between;

            &-text {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-right: 120px;

                &-item {
                    margin-right: 60px;
                    width: 132px;

                    &:last-child {
                        margin-right: 0;
                        width: 121px;
                    }

                    &:nth-child(1) {
                        width: 115px;
                    }

                    &:nth-child(2) {
                        width: 170px;
                    }
                }

                h1 {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: #fff;
                    margin: 0 0 12px 0;
                }

                h2 {
                    margin-bottom: 10px;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 125%;
                    color: #D2D1D7;

                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }

        &-pay {
            margin: 32px 0 32px 0;
            display: flex;

            h1 {
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #FEFEFF;
            }

            &-get {
                img {
                    margin-top: 15px;
                    margin-right: 20px;

                    &:last-child {
                        margin-right: 80px;
                    }
                }
            }

            &-social {
                img {
                    margin-top: 15px;
                    margin-right: 21px;
                }
            }
        }

        &-company {
            margin: 32px 0 32px 0;

            span {
                margin-right: 32px;
                font-weight: 400;
                font-size: 12px;
                line-height: 125%;
                color: #D2D1D7;
            }
        }
    }
}


.modal-catalog {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba($color: #000000, $alpha: 0.6);
    transition: all 0.2s ease;
    visibility: hidden;
    opacity: 0;

    .switch {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .modal-catalog-wrapper {
        position: absolute;
        top: 122px;
        width: 1216px;
        height: 760px;
        background-color: #fff;

        .category {
            width: 303px;
            height: 100%;
            background-color: #F7F7FC;

            p {
                width: 100%;
                font-weight: 400;
                font-size: 18px;
                line-height: 135%;
                letter-spacing: 0.015em;
                color: #0B1124;
                border-bottom: 2px solid #F7F7FC;
                padding: 12px 20px 12px 20px;
                user-select: none;
                cursor: pointer;

                &:hover {
                    background-color: #fff;
                    border-bottom: 2px solid #62A9FC;
                }
            }
        }
    }
}

.activeModalCountry {
    visibility: visible !important;
    opacity: 1 !important;
}

.activeModal {
    visibility: visible !important;
    opacity: 1 !important;
}