.popularCatgItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >p {
        margin-top: 10px;
    }

    >img {
        width: 140px;
        height: 103px;
    }

    &:hover {
        color: #0AF;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .backImg {

    }
}

.popularCatgItem + .popularCatgItem {
    margin-left: 30px;
}